{{define "content"}}
<section class="hero">
  <pre class="banner" aria-label="Edwin Ejembi">
 _____    _          _            _____  _                _     _
| ____|__| |_      _(_)_ __     | ____|(_) ___ _ __ ___ | |__ (_)
|  _| / _` \ \ /\ / / | '_ \    |  _|  | |/ _ \ '_ ` _ \| '_ \| |
| |__| (_| |\ V  V /| | | | |   | |___ | |  __/ | | | | | |_) | |
|_____\__,_| \_/\_/ |_|_| |_|   |_____|/ |\___|_| |_| |_|_.__/|_|
                                      |__/
  </pre>

  <div class="intro">
    <img class="portrait" src="/static/passport.jpg" alt="Photo of Edwin Ejembi" width="160" height="200">
    <div>
      <h1>I build things in Go, one small step at a time.</h1>
      <p class="lead">I'm a software development student. I started with no programming experience and I learn by writing every line myself.</p>
      <p><a class="button" href="/projects">See what I've built</a></p>
    </div>
  </div>
</section>
{{end}}